# Dependências do Node 
node_modules/

# Arquivos compilados/gerados pelo TypeScript 
*.js.map
*.d.ts
*.d.ts.map
*jogo_rpg.js

# Arquivos de sistema 
.DS_Store
Thumbs.db

# Arquivo de persistência de dados 
dados.json